<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <title>Add a new book</title>
</head>
<body>
<h1 class="d-flex justify-content-center">Add book</h1>
<div class="d-flex justify-content-center">
    <div class="col-sm-9">
        <form th:object="${book}" th:action="@{save}" action="#" method="post">
            <div class="form-group row">
                <label for="title" class="col-2 col-form-label">Title</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="title" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="author" class="col-2 col-form-label">Author</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="author" th:field="*{author}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="year" class="col-2 col-form-label">Year</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="year" th:field="*{year}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="isbn" class="col-2 col-form-label">ISBN</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="isbn" th:field="*{isbn}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-2 col-form-label">Price</label>
                <div class="col-10">
                    <input class="form-control" type="text" id="price" th:field="*{price}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-2 col-form-label">Category</label>
                <div class="col-10">
                    <select class="form-control" id="category" th:field="*{category}">
                        <option th:each="category: ${categories}"
                                th:value="${category.categoryId}"
                                th:text="${category.categoryName}">
                        </option>
                    </select>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <div class="p-2">
                    <input class="btn btn-success btn-block" type="submit" value="Save"/>
                </div>
                <div class="p-2">
                    <a class="btn btn-secondary btn-block" href="/booklist">Show Books</a>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>