<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" /-->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{css/bootstrap.css}" />

</head>
<body>
<h1>Book List</h1>
<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>ISBN</th>
        <th>Price</th>
    </tr>
    <tr th:each = "book : ${booklist}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.category.categoryName}"></td>
        <td ><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
        <td><a th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
    </tr>
</table>
<a class="btn btn-success" href="/addbook">Add Book</a>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>