<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Login or Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>

</head>
<body>
<h1>Returned user please log in.</h1>
<div class="col-md-4 cold-md-offest-4">
    <div class="alert alert-danger" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="alert alert-warning" th:if="${param.logout}">
        You have been logged out.
    </div>

    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
        <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
        <div><input type="submit" value="Sign In" class="btn btn-success"/></div>
    </form>
    <a th:href="@{/signup}">Sign-up</a>

</div>
</body>
</html>